In [4]:
import numpy as np
import pandas as pd

from joblib import dump, load

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

import scipy.stats as stats

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)

Collecting tabulate
  Using cached tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: C:\Users\juanc\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [7]:
df_laptops = pd.read_csv('202320_Laboratorio 2 - Regresión_data_laptop_data_train.csv', sep=',', encoding = 'utf-8', index_col=0)

In [8]:
df_laptops.shape

(1216, 13)

In [9]:
df_laptops.sample(5)

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
id,,,,,,,,,,,,,
309,HP,Notebook,4,1.86,10.126164,0,0,141.211998,Intel Core i3,1000.0,0,Intel,Windows
829,Acer,Notebook,8,1.50,10.403666,0,1,157.350512,Intel Core i3,0.0,128,Intel,Windows
45,Apple,Ultrabook,8,1.37,11.233269,0,1,226.983005,Intel Core i5,0.0,256,Intel,Mac
265,Dell,2 in 1 Convertible,8,2.67,10.658922,1,0,141.211998,Intel Core i5,0.0,256,Intel,Windows
1188,Dell,Ultrabook,8,1.23,10.977717,1,0,276.053530,Intel Core i5,0.0,256,Intel,Others

In [10]:
df_laptop_new = pd.read_csv('202320_Laboratorio 2 - Regresión_data_laptop_data_test_unlabeled.csv')

In [11]:
df_laptop_new.shape

(64, 14)

In [12]:
df_laptop_new.sample(5)

,id,Company,TypeName,Ram,Weight,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os,CalculatedPrice
25,1063,Dell,Notebook,16,2.32,0,0,141.211998,Intel Core i7,2000.0,0,AMD,Windows,NaN
55,1047,MSI,Gaming,16,3.78,0,1,127.335675,Intel Core i7,1000.0,256,Nvidia,Windows,NaN
35,1271,Lenovo,Notebook,2,1.50,0,0,111.935204,Other Intel Processor,0.0,0,Intel,Windows,NaN
13,43,Acer,Notebook,4,2.20,0,1,141.211998,Intel Core i5,0.0,256,Intel,Windows,NaN
6,236,Acer,Notebook,4,2.10,0,0,100.454670,Intel Core i3,1000.0,0,Intel,Others,NaN

In [ ]:
features = ['Company','TypeName','Ram','Weight','ToutchScreen']